<div class="home">
    <div id="prev">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
    </div>
    <div id="slider">
        <% @sliders.each do |s| %>
            <div class="slide">
                <% if s.description? %>
                    <div class="description">
                        <h3><%= s.description %></h3>
                    </div>
                <% end %>
                <%= link_to s.link do %>
                    <%= image_tag s.image.url(:big) %>
                <% end %>
            </div>
        <% end %>
    </div>
    <div id="next">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
    </div>
</div>
