<div class="home_static">
    <div class="main">
        <div class="main-abs">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">
                      <div class="logo">
                          <h1>INTI<span>MAN</span></h1>
                      </div>
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="hvr-underline-reveal"><a href="#us">¿Quiénes Somos?</a></li>
                      <li class="hvr-underline-reveal"><a href="#products">Productos</a></li>
                      <li class="hvr-underline-reveal"><a href="#contact">Contacto</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            <div class="container">
                <h1>Empieza el verano con el pie derecho</h1>
                <div class="bottom">
                    <div class="scroll-indicator"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sections" style="opacity: 0.5;">
        <div class="wrapper-static">
            <div id="us" class="section">
                <div class="row">
                    <div class="col-md-6">
                        <hr>
                        <h1>Producto 100% mexicano hecho con la mejor calidad</h1>
                        <h4>Nosotros somos fieles creyentes que lo hecho en México es de la mejor calidad y con la mejor mano de obra que existe. Además con esto se apoya a la economía del país y es lo mejor para poder salir adelante juntos.</h4>
                        <div class="image hidden-md hidden-lg">
                            <%= image_tag "2017-03-31-PHOTO-00031149.jpg" %>
                        </div>
                        <hr class="separator">
                        <h1>Por cada traje que se venda se donan <span>$3 USD</span> para la conservación de Holbox</h1>
                        <h4>Holbox es una increíble isla ubicada en el Caribe mexicano, al norte de la península de Yucatán. Conocida gracias a que en su mayor parte hay naturaleza virgen y gracias a esto, existe gran diversidad de animales; sin embargo, el turismo está amenazando su conservación. Ayúdanos a que se mantenga de esta manera.</h4>
                        <div class="image hidden-md hidden-lg">
                            <%= image_tag "holbox-name.jpg" %>
                        </div>
                    </div>
                    <div class="col-md-6 images hidden-sm hidden-xs">
                        <%= image_tag "holbox-name.jpg", class: "one" %>
                        <%= image_tag "2017-03-31-PHOTO-00031149.jpg", class: "two" %>
                    </div>
                </div>
            </div>
            <div id="products" class="section">
                <a href="#catalogModal1" data-toggle="modal">
                    <div class="women boxes">
                        <div class="layer"></div>
                        <h1>MUJERES</h1>
                    </div>
                </a>
                <a href="#catalogModal2" data-toggle="modal">
                    <div class="men boxes">
                        <div class="layer"></div>
                        <h1>HOMBRES</h1>
                    </div>
                </a>
            </div>
            <div id="contact" class="section">
                <h2><i class="fa fa-paper-plane" aria-hidden="true"></i></h2>
                <h1>¡Haz tu pedido!</h1>
                <h3><a href="mailto:contacto@intiman.com.mx">contacto@intiman.com.mx</a></h3>
            </div>
        </div>
        <div class="alt-footer">
            <div class="logo col-xs-12">
                <h1>INTI<span>MAN</span></h1>
                <div id="slogan">
                    <p>
                        frescura + co<span>modidad + diseño</span>
                    </p>
                </div>
            </div>
            <div class="social_links col-xs-12">
                <a id="fb" href=""><i class="fa fa-facebook"></i></a>
                <a id="gplus" href=""><i class="fa fa-google-plus"></i></a>
                <a id="insta" href=""><i class="fa fa-instagram"></i></a>
                <a id="pin" href=""><i class="fa fa-pinterest"></i></a>
                <a id="tw" href=""><i class="fa fa-twitter"></i></a>
            </div>
            <div class="copyright col-xs-12">
                <p>All rights reserved © Intiman 2017 </p>
            </div>
        </div>
    </div>
    <!-- Modals -->
    <div class="catalog-modal modal fade" id="catalogModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close-modal" data-dismiss="modal">
                    <div class="fs1" aria-hidden="true" data-icon="&#x4d;"></div>
                </div>
                <h2 class="modal-title">Women</h2>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis tellus ipsum, maximus aliquet metus aliquam in. Integer ac faucibus urna, sed consectetur ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vestibulum ipsum mi, at hendrerit quam eleifend a. Sed tempus nunc id felis viverra pretium ut id felis. In vehicula porta augue, id hendrerit felis. Integer at turpis ac urna condimentum ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vel est nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ac turpis eget urna finibus facilisis a ut elit. Etiam sed nibh ac diam condimentum rutrum id non sem. Integer quis iaculis mi.
                                <br>
                                Mauris ipsum eros, commodo eu risus eget, interdum facilisis magna. Maecenas rhoncus, diam at sodales sagittis, odio turpis faucibus arcu, sed viverra urna turpis id mauris. Duis velit ligula, pharetra id vulputate id, faucibus sit amet nunc. Nulla sed libero eu urna facilisis suscipit. Cras ultrices nisi ipsum, ut aliquam nulla porttitor eget. Quisque dapibus, velit vel fermentum venenatis, mi magna pharetra justo, sit amet blandit lectus nunc vitae orci. Vestibulum lobortis diam et viverra tristique. In vitae mauris in augue mattis condimentum vitae ut sapien.
                                <br>
                                Morbi semper consectetur bibendum. Nam odio ligula, aliquet sed aliquet sed, tincidunt a sem. Phasellus non nibh placerat leo pulvinar venenatis nec eu orci. Nullam quis elit in velit sodales cursus sed efficitur sem. Quisque dapibus leo elit, in euismod magna efficitur et. Praesent venenatis maximus eros eu volutpat. Nulla a venenatis tellus. Pellentesque tincidunt, est sed maximus pharetra, nisi urna blandit tortor, at blandit nisi massa eget sapien. Duis id odio facilisis, mollis nibh eu, suscipit erat. Duis ultricies ullamcorper leo, eu scelerisque magna congue vel. Nulla blandit sem vel pulvinar venenatis.
                                <br>
                                Ut ornare nunc nec metus volutpat, in mattis justo sodales. Quisque auctor imperdiet blandit. Nam ut massa leo. Sed tincidunt egestas nisl a ornare. Sed bibendum, odio at euismod accumsan, quam dolor imperdiet est, sed lobortis odio mauris rutrum nulla. Nullam rhoncus velit in odio tempus, ut blandit tellus scelerisque. Suspendisse ut lobortis arcu, a viverra lorem. Maecenas nulla nibh, blandit id orci quis, hendrerit pulvinar turpis. Curabitur quis quam dictum lorem vestibulum commodo. Aliquam semper bibendum massa, finibus rutrum enim vestibulum vel. Nunc blandit nibh nunc, a elementum mauris viverra et. Ut pulvinar mi a volutpat accumsan.
                                <br>
                                Vestibulum at magna vehicula, pretium urna quis, tempor ante. Nullam odio est, sodales vitae nibh sed, consequat condimentum nunc. Sed ut mattis ipsum, sed mattis neque. Donec quis aliquet libero. Integer eget mi sapien. Phasellus id dictum enim, non mollis nisi. Sed ullamcorper mattis odio, nec condimentum justo pellentesque id. Cras tristique, ante nec mattis ultrices, mi felis consequat dolor, eu finibus urna augue quis justo. Cras cursus suscipit convallis. Nam scelerisque, lectus ut feugiat porta, dui ex varius risus, a laoreet augue nibh vitae enim. Proin vel libero imperdiet, scelerisque sem eu, convallis dolor. Donec nec tempus mi.
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis tellus ipsum, maximus aliquet metus aliquam in. Integer ac faucibus urna, sed consectetur ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vestibulum ipsum mi, at hendrerit quam eleifend a. Sed tempus nunc id felis viverra pretium ut id felis. In vehicula porta augue, id hendrerit felis. Integer at turpis ac urna condimentum ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vel est nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ac turpis eget urna finibus facilisis a ut elit. Etiam sed nibh ac diam condimentum rutrum id non sem. Integer quis iaculis mi.
                                <br>
                                Mauris ipsum eros, commodo eu risus eget, interdum facilisis magna. Maecenas rhoncus, diam at sodales sagittis, odio turpis faucibus arcu, sed viverra urna turpis id mauris. Duis velit ligula, pharetra id vulputate id, faucibus sit amet nunc. Nulla sed libero eu urna facilisis suscipit. Cras ultrices nisi ipsum, ut aliquam nulla porttitor eget. Quisque dapibus, velit vel fermentum venenatis, mi magna pharetra justo, sit amet blandit lectus nunc vitae orci. Vestibulum lobortis diam et viverra tristique. In vitae mauris in augue mattis condimentum vitae ut sapien.
                                <br>
                                Morbi semper consectetur bibendum. Nam odio ligula, aliquet sed aliquet sed, tincidunt a sem. Phasellus non nibh placerat leo pulvinar venenatis nec eu orci. Nullam quis elit in velit sodales cursus sed efficitur sem. Quisque dapibus leo elit, in euismod magna efficitur et. Praesent venenatis maximus eros eu volutpat. Nulla a venenatis tellus. Pellentesque tincidunt, est sed maximus pharetra, nisi urna blandit tortor, at blandit nisi massa eget sapien. Duis id odio facilisis, mollis nibh eu, suscipit erat. Duis ultricies ullamcorper leo, eu scelerisque magna congue vel. Nulla blandit sem vel pulvinar venenatis.
                                <br>
                                Ut ornare nunc nec metus volutpat, in mattis justo sodales. Quisque auctor imperdiet blandit. Nam ut massa leo. Sed tincidunt egestas nisl a ornare. Sed bibendum, odio at euismod accumsan, quam dolor imperdiet est, sed lobortis odio mauris rutrum nulla. Nullam rhoncus velit in odio tempus, ut blandit tellus scelerisque. Suspendisse ut lobortis arcu, a viverra lorem. Maecenas nulla nibh, blandit id orci quis, hendrerit pulvinar turpis. Curabitur quis quam dictum lorem vestibulum commodo. Aliquam semper bibendum massa, finibus rutrum enim vestibulum vel. Nunc blandit nibh nunc, a elementum mauris viverra et. Ut pulvinar mi a volutpat accumsan.
                                <br>
                                Vestibulum at magna vehicula, pretium urna quis, tempor ante. Nullam odio est, sodales vitae nibh sed, consequat condimentum nunc. Sed ut mattis ipsum, sed mattis neque. Donec quis aliquet libero. Integer eget mi sapien. Phasellus id dictum enim, non mollis nisi. Sed ullamcorper mattis odio, nec condimentum justo pellentesque id. Cras tristique, ante nec mattis ultrices, mi felis consequat dolor, eu finibus urna augue quis justo. Cras cursus suscipit convallis. Nam scelerisque, lectus ut feugiat porta, dui ex varius risus, a laoreet augue nibh vitae enim. Proin vel libero imperdiet, scelerisque sem eu, convallis dolor. Donec nec tempus mi.
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis tellus ipsum, maximus aliquet metus aliquam in. Integer ac faucibus urna, sed consectetur ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vestibulum ipsum mi, at hendrerit quam eleifend a. Sed tempus nunc id felis viverra pretium ut id felis. In vehicula porta augue, id hendrerit felis. Integer at turpis ac urna condimentum ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vel est nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ac turpis eget urna finibus facilisis a ut elit. Etiam sed nibh ac diam condimentum rutrum id non sem. Integer quis iaculis mi.
                                <br>
                                Mauris ipsum eros, commodo eu risus eget, interdum facilisis magna. Maecenas rhoncus, diam at sodales sagittis, odio turpis faucibus arcu, sed viverra urna turpis id mauris. Duis velit ligula, pharetra id vulputate id, faucibus sit amet nunc. Nulla sed libero eu urna facilisis suscipit. Cras ultrices nisi ipsum, ut aliquam nulla porttitor eget. Quisque dapibus, velit vel fermentum venenatis, mi magna pharetra justo, sit amet blandit lectus nunc vitae orci. Vestibulum lobortis diam et viverra tristique. In vitae mauris in augue mattis condimentum vitae ut sapien.
                                <br>
                                Morbi semper consectetur bibendum. Nam odio ligula, aliquet sed aliquet sed, tincidunt a sem. Phasellus non nibh placerat leo pulvinar venenatis nec eu orci. Nullam quis elit in velit sodales cursus sed efficitur sem. Quisque dapibus leo elit, in euismod magna efficitur et. Praesent venenatis maximus eros eu volutpat. Nulla a venenatis tellus. Pellentesque tincidunt, est sed maximus pharetra, nisi urna blandit tortor, at blandit nisi massa eget sapien. Duis id odio facilisis, mollis nibh eu, suscipit erat. Duis ultricies ullamcorper leo, eu scelerisque magna congue vel. Nulla blandit sem vel pulvinar venenatis.
                                <br>
                                Ut ornare nunc nec metus volutpat, in mattis justo sodales. Quisque auctor imperdiet blandit. Nam ut massa leo. Sed tincidunt egestas nisl a ornare. Sed bibendum, odio at euismod accumsan, quam dolor imperdiet est, sed lobortis odio mauris rutrum nulla. Nullam rhoncus velit in odio tempus, ut blandit tellus scelerisque. Suspendisse ut lobortis arcu, a viverra lorem. Maecenas nulla nibh, blandit id orci quis, hendrerit pulvinar turpis. Curabitur quis quam dictum lorem vestibulum commodo. Aliquam semper bibendum massa, finibus rutrum enim vestibulum vel. Nunc blandit nibh nunc, a elementum mauris viverra et. Ut pulvinar mi a volutpat accumsan.
                                <br>
                                Vestibulum at magna vehicula, pretium urna quis, tempor ante. Nullam odio est, sodales vitae nibh sed, consequat condimentum nunc. Sed ut mattis ipsum, sed mattis neque. Donec quis aliquet libero. Integer eget mi sapien. Phasellus id dictum enim, non mollis nisi. Sed ullamcorper mattis odio, nec condimentum justo pellentesque id. Cras tristique, ante nec mattis ultrices, mi felis consequat dolor, eu finibus urna augue quis justo. Cras cursus suscipit convallis. Nam scelerisque, lectus ut feugiat porta, dui ex varius risus, a laoreet augue nibh vitae enim. Proin vel libero imperdiet, scelerisque sem eu, convallis dolor. Donec nec tempus mi.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="catalog-modal modal fade" id="catalogModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close-modal" data-dismiss="modal">
                    <div class="fs1" aria-hidden="true" data-icon="&#x4d;"></div>
                </div>
                <h2 class="modal-title">Men</h2>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis tellus ipsum, maximus aliquet metus aliquam in. Integer ac faucibus urna, sed consectetur ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vestibulum ipsum mi, at hendrerit quam eleifend a. Sed tempus nunc id felis viverra pretium ut id felis. In vehicula porta augue, id hendrerit felis. Integer at turpis ac urna condimentum ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vel est nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ac turpis eget urna finibus facilisis a ut elit. Etiam sed nibh ac diam condimentum rutrum id non sem. Integer quis iaculis mi.
                                <br>
                                Mauris ipsum eros, commodo eu risus eget, interdum facilisis magna. Maecenas rhoncus, diam at sodales sagittis, odio turpis faucibus arcu, sed viverra urna turpis id mauris. Duis velit ligula, pharetra id vulputate id, faucibus sit amet nunc. Nulla sed libero eu urna facilisis suscipit. Cras ultrices nisi ipsum, ut aliquam nulla porttitor eget. Quisque dapibus, velit vel fermentum venenatis, mi magna pharetra justo, sit amet blandit lectus nunc vitae orci. Vestibulum lobortis diam et viverra tristique. In vitae mauris in augue mattis condimentum vitae ut sapien.
                                <br>
                                Morbi semper consectetur bibendum. Nam odio ligula, aliquet sed aliquet sed, tincidunt a sem. Phasellus non nibh placerat leo pulvinar venenatis nec eu orci. Nullam quis elit in velit sodales cursus sed efficitur sem. Quisque dapibus leo elit, in euismod magna efficitur et. Praesent venenatis maximus eros eu volutpat. Nulla a venenatis tellus. Pellentesque tincidunt, est sed maximus pharetra, nisi urna blandit tortor, at blandit nisi massa eget sapien. Duis id odio facilisis, mollis nibh eu, suscipit erat. Duis ultricies ullamcorper leo, eu scelerisque magna congue vel. Nulla blandit sem vel pulvinar venenatis.
                                <br>
                                Ut ornare nunc nec metus volutpat, in mattis justo sodales. Quisque auctor imperdiet blandit. Nam ut massa leo. Sed tincidunt egestas nisl a ornare. Sed bibendum, odio at euismod accumsan, quam dolor imperdiet est, sed lobortis odio mauris rutrum nulla. Nullam rhoncus velit in odio tempus, ut blandit tellus scelerisque. Suspendisse ut lobortis arcu, a viverra lorem. Maecenas nulla nibh, blandit id orci quis, hendrerit pulvinar turpis. Curabitur quis quam dictum lorem vestibulum commodo. Aliquam semper bibendum massa, finibus rutrum enim vestibulum vel. Nunc blandit nibh nunc, a elementum mauris viverra et. Ut pulvinar mi a volutpat accumsan.
                                <br>
                                Vestibulum at magna vehicula, pretium urna quis, tempor ante. Nullam odio est, sodales vitae nibh sed, consequat condimentum nunc. Sed ut mattis ipsum, sed mattis neque. Donec quis aliquet libero. Integer eget mi sapien. Phasellus id dictum enim, non mollis nisi. Sed ullamcorper mattis odio, nec condimentum justo pellentesque id. Cras tristique, ante nec mattis ultrices, mi felis consequat dolor, eu finibus urna augue quis justo. Cras cursus suscipit convallis. Nam scelerisque, lectus ut feugiat porta, dui ex varius risus, a laoreet augue nibh vitae enim. Proin vel libero imperdiet, scelerisque sem eu, convallis dolor. Donec nec tempus mi.
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis tellus ipsum, maximus aliquet metus aliquam in. Integer ac faucibus urna, sed consectetur ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vestibulum ipsum mi, at hendrerit quam eleifend a. Sed tempus nunc id felis viverra pretium ut id felis. In vehicula porta augue, id hendrerit felis. Integer at turpis ac urna condimentum ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vel est nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ac turpis eget urna finibus facilisis a ut elit. Etiam sed nibh ac diam condimentum rutrum id non sem. Integer quis iaculis mi.
                                <br>
                                Mauris ipsum eros, commodo eu risus eget, interdum facilisis magna. Maecenas rhoncus, diam at sodales sagittis, odio turpis faucibus arcu, sed viverra urna turpis id mauris. Duis velit ligula, pharetra id vulputate id, faucibus sit amet nunc. Nulla sed libero eu urna facilisis suscipit. Cras ultrices nisi ipsum, ut aliquam nulla porttitor eget. Quisque dapibus, velit vel fermentum venenatis, mi magna pharetra justo, sit amet blandit lectus nunc vitae orci. Vestibulum lobortis diam et viverra tristique. In vitae mauris in augue mattis condimentum vitae ut sapien.
                                <br>
                                Morbi semper consectetur bibendum. Nam odio ligula, aliquet sed aliquet sed, tincidunt a sem. Phasellus non nibh placerat leo pulvinar venenatis nec eu orci. Nullam quis elit in velit sodales cursus sed efficitur sem. Quisque dapibus leo elit, in euismod magna efficitur et. Praesent venenatis maximus eros eu volutpat. Nulla a venenatis tellus. Pellentesque tincidunt, est sed maximus pharetra, nisi urna blandit tortor, at blandit nisi massa eget sapien. Duis id odio facilisis, mollis nibh eu, suscipit erat. Duis ultricies ullamcorper leo, eu scelerisque magna congue vel. Nulla blandit sem vel pulvinar venenatis.
                                <br>
                                Ut ornare nunc nec metus volutpat, in mattis justo sodales. Quisque auctor imperdiet blandit. Nam ut massa leo. Sed tincidunt egestas nisl a ornare. Sed bibendum, odio at euismod accumsan, quam dolor imperdiet est, sed lobortis odio mauris rutrum nulla. Nullam rhoncus velit in odio tempus, ut blandit tellus scelerisque. Suspendisse ut lobortis arcu, a viverra lorem. Maecenas nulla nibh, blandit id orci quis, hendrerit pulvinar turpis. Curabitur quis quam dictum lorem vestibulum commodo. Aliquam semper bibendum massa, finibus rutrum enim vestibulum vel. Nunc blandit nibh nunc, a elementum mauris viverra et. Ut pulvinar mi a volutpat accumsan.
                                <br>
                                Vestibulum at magna vehicula, pretium urna quis, tempor ante. Nullam odio est, sodales vitae nibh sed, consequat condimentum nunc. Sed ut mattis ipsum, sed mattis neque. Donec quis aliquet libero. Integer eget mi sapien. Phasellus id dictum enim, non mollis nisi. Sed ullamcorper mattis odio, nec condimentum justo pellentesque id. Cras tristique, ante nec mattis ultrices, mi felis consequat dolor, eu finibus urna augue quis justo. Cras cursus suscipit convallis. Nam scelerisque, lectus ut feugiat porta, dui ex varius risus, a laoreet augue nibh vitae enim. Proin vel libero imperdiet, scelerisque sem eu, convallis dolor. Donec nec tempus mi.
                                <br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mattis tellus ipsum, maximus aliquet metus aliquam in. Integer ac faucibus urna, sed consectetur ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras vestibulum ipsum mi, at hendrerit quam eleifend a. Sed tempus nunc id felis viverra pretium ut id felis. In vehicula porta augue, id hendrerit felis. Integer at turpis ac urna condimentum ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vel est nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ac turpis eget urna finibus facilisis a ut elit. Etiam sed nibh ac diam condimentum rutrum id non sem. Integer quis iaculis mi.
                                <br>
                                Mauris ipsum eros, commodo eu risus eget, interdum facilisis magna. Maecenas rhoncus, diam at sodales sagittis, odio turpis faucibus arcu, sed viverra urna turpis id mauris. Duis velit ligula, pharetra id vulputate id, faucibus sit amet nunc. Nulla sed libero eu urna facilisis suscipit. Cras ultrices nisi ipsum, ut aliquam nulla porttitor eget. Quisque dapibus, velit vel fermentum venenatis, mi magna pharetra justo, sit amet blandit lectus nunc vitae orci. Vestibulum lobortis diam et viverra tristique. In vitae mauris in augue mattis condimentum vitae ut sapien.
                                <br>
                                Morbi semper consectetur bibendum. Nam odio ligula, aliquet sed aliquet sed, tincidunt a sem. Phasellus non nibh placerat leo pulvinar venenatis nec eu orci. Nullam quis elit in velit sodales cursus sed efficitur sem. Quisque dapibus leo elit, in euismod magna efficitur et. Praesent venenatis maximus eros eu volutpat. Nulla a venenatis tellus. Pellentesque tincidunt, est sed maximus pharetra, nisi urna blandit tortor, at blandit nisi massa eget sapien. Duis id odio facilisis, mollis nibh eu, suscipit erat. Duis ultricies ullamcorper leo, eu scelerisque magna congue vel. Nulla blandit sem vel pulvinar venenatis.
                                <br>
                                Ut ornare nunc nec metus volutpat, in mattis justo sodales. Quisque auctor imperdiet blandit. Nam ut massa leo. Sed tincidunt egestas nisl a ornare. Sed bibendum, odio at euismod accumsan, quam dolor imperdiet est, sed lobortis odio mauris rutrum nulla. Nullam rhoncus velit in odio tempus, ut blandit tellus scelerisque. Suspendisse ut lobortis arcu, a viverra lorem. Maecenas nulla nibh, blandit id orci quis, hendrerit pulvinar turpis. Curabitur quis quam dictum lorem vestibulum commodo. Aliquam semper bibendum massa, finibus rutrum enim vestibulum vel. Nunc blandit nibh nunc, a elementum mauris viverra et. Ut pulvinar mi a volutpat accumsan.
                                <br>
                                Vestibulum at magna vehicula, pretium urna quis, tempor ante. Nullam odio est, sodales vitae nibh sed, consequat condimentum nunc. Sed ut mattis ipsum, sed mattis neque. Donec quis aliquet libero. Integer eget mi sapien. Phasellus id dictum enim, non mollis nisi. Sed ullamcorper mattis odio, nec condimentum justo pellentesque id. Cras tristique, ante nec mattis ultrices, mi felis consequat dolor, eu finibus urna augue quis justo. Cras cursus suscipit convallis. Nam scelerisque, lectus ut feugiat porta, dui ex varius risus, a laoreet augue nibh vitae enim. Proin vel libero imperdiet, scelerisque sem eu, convallis dolor. Donec nec tempus mi.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        var height = $(window).height();

        if($('.home_static .sections').css('opacity') < 1){
            opacity = 0.25 + (($(window).scrollTop() / height) / 4 * 3);
            $('.home_static .sections').css('opacity',opacity);
        }
        if($(window).scrollTop() >= height){
            $('.home_static').addClass('reg');
            if(scrollTop < height * 1.5){
                $('.home_static .images .one').css('margin-top', scrollDiff / 2);
                $('.home_static .images .two').css('margin-top', scrollDiff / 3);
            }else{
                $('.home_static .images .one').css('margin-top', 380);
                $('.home_static .images .two').css('margin-top', 285);
            }
        }else{
            $('.home_static').removeClass('reg');
        }

        $('.navbar-nav a').on('click', function(){
            id = $(this).attr('href');
            $('html,body').animate({
                scrollTop: $(id).offset().top + height - 20
            },800);
        });

        if($(window).width() < 992){
            $('#products').removeClass('normal');
        }else{
            $('#products').addClass('normal');
        }

        var iScrollPos = 0;
        $(window).on('scroll', function(){
            var scrollTop = $(this).scrollTop();
            var iCurScrollPos = scrollTop;
            if( $('.home_static .sections').css('opacity') < 1 || iCurScrollPos < iScrollPos ){
                opacity = 0.25 + ((scrollTop / height) / 4 * 3);
                $('.home_static .sections').css('opacity',opacity);
            }else{
                $('.home_static .sections').css('opacity',1);
            }
            if(scrollTop >= height){
                $('.home_static').addClass('reg');


                if(scrollTop < height * 1.5){
                    scrollDiff = scrollTop - height;
                    $('.home_static .images .one').css('margin-top', scrollDiff / 2);
                    $('.home_static .images .two').css('margin-top', scrollDiff / 3);
                }else{

                    if(scrollTop < height * 1.75){
                        scrollDiff = scrollTop - (height * 1.5);

                    }else{
                        if(scrollTop < height * 2.25){
                            scrollDiff = scrollTop - (height * 1.75);

                            $('.home_static #products.normal .women').css('margin-top', scrollDiff / 4);
                            $('.home_static #products.normal .women').css('margin-left', - scrollDiff / 6);

                            $('.home_static #products.normal .men').css('margin-top', - scrollDiff / 4);
                            $('.home_static #products.normal .men').css('margin-left', scrollDiff / 6);

                        }else{
                            if(scrollTop < height * 2.75){
                                scrollDiff = scrollTop - (height * 2.25);
                                $('.home_static #products.normal .women').css('margin-top', 95);
                                $('.home_static #products.normal .women').css('margin-left', - 63);

                                $('.home_static #products.normal .men').css('margin-top', - 95);
                                $('.home_static #products.normal .men').css('margin-left', 63);
                            }
                        }
                    }

                }

            }else{
                $('.home_static').removeClass('reg');
            }
            iScrollPos = iCurScrollPos;
        });
        $(window).on('resize', function(){
            height = $(window).height();
            if($(window).width() < 992){
                $('#products').removeClass('normal');
            }else{
                $('#products').addClass('normal');
            }
        });

        $('.navbar-toggle').on('click', function(){
            $(this).toggleClass("active");
            if($(this).hasClass('collapsed')){
                $('nav').css('background','white');
            }else{
                $('nav').css('background','transparent');
            }
        });

        var scrollPos = 0;
        $('.boxes').on('click', function() {
            scrollPos = $('body').scrollTop();
        });

        $('.close-modal').on('click', function() {
            $('body').animate({scrollTop: scrollPos}, 0);
        });

    });


</script>
