// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$principal: #125688;
$secondary: #9a976a;
$dark: #212020;
$white: #fff;
$highlight: #FF884D;
$light-gray: #ededed;
$uLight-gray: #f9f9f9;
$gray: #343434;
$dark-gray: #2C2B2C;
$red: #ff4c4c;

.home{
    color: $dark;
    background: $white;
    padding: none;
    overflow-x: hidden !important;
    height: auto;
    overflow-y: hidden;
    #slider{
        top: 27px;
        left: -3px;
        width: 100vw;
        height: 100vh;
        position: absolute;
        overflow: hidden;
        float: left;
        padding: 3px;
        img{
            width: 100vw;
        }
        .slide{
            position: absolute;
            opacity: 0;
            z-index: 1;
            transition: opacity 1s ease-in-out;
            .mask{
                position: absolute;
                bottom: 0;
                left: 0;
                height: 100%;
                top: 0;
                width: 100vw;
                background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)); /* For Safari 5.1 to 6.0 */
          		background: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)); /* For Opera 11.1 to 12.0 */
          		background: -moz-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)); /* For Firefox 3.6 to 15 */
         		background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)); /* Standard syntax */
            }

            .content{
                background: transparent;
                position: absolute;
                top: 30vh;
                left: 40px;
                .title{
                    h1{
                        font-size: 35px;
                        color: $white;
                        text-align: center;
                    }
                }
                .description{
                    h3{
                        font-size: 15px;
                        color: $white;
                        font-weight: 100;
                        text-align: center;
                    }
                }
                .guide-btn{
                    margin-top: 10vh;
                    text-align: center;
                    a{
                        font-weight: 100;
                        text-align: center;
                        font-size: 15px;
                        color: white;
                        padding: 20px;
                        border: 1px solid $white;
                        background: rgba(255, 255, 255, 0.1);
                        text-decoration: none;
                        &:hover{
                            background: rgba(255, 255, 255, 0.4);
                        }
                    }
                }
            }
            .content2{
                top: 10vh;
                left: 0;
                right: 0;
            }
        }
        .slide.active{
            opacity: 1;
            z-index: 2;
        }
    }
    .changers{
        position: absolute;
        z-index: 99;
        left: 0;
        top: 95vh;
        height: 5vh;
        width: 100vw;
        background: transparent;
        border: none;
        box-shadow: none;
        text-align: center;
        padding: 1vh;
        div{
            line-height: none;
            margin: 0 10px;
            padding: .1vh 2vw;
            border: 1px solid rgba(255,255,255,0.2);
            background: rgba(255,255,255,0.2);
            display: inline-block;
            &:hover{
                background: $white;
                cursor: pointer;
            }
        }
        div.active{
            background: $white;
            pointer-events: none;
            cursor: default;
        }
    }
    .progress-bar{
        position: absolute;
        z-index: 99;
        left: 0;
        height: 5px;
        top: 94vh;
        width: 100vw;
        background: transparent;
        border: none;
        box-shadow: none;
        #bar{
            position: absolute;
            left: 0;
            margin: 0;
            border-color: $secondary;
            border-width: 3px;
            width: 1%;
            transition: width 0.1s ease;
            -webkit-transition: width 0.1s ease;
            -moz-transition: width 0.1s ease;
            -o-transition: width 0.1s ease;
        }
    }
    #categories{
        margin: 0 auto;
        margin-top: 4vh;
        position: relative;
        // height: 62.5vh;
        max-height: 464px;
        width: 100%;
        max-width: 963px;
        .category{
            position: absolute;
            overflow: hidden;
            img{
                transition: all .2s ease-in-out;
                max-width: 102%;
                max-height: 102%;
            }
            a{
                text-decoration: none;
                .mask{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                    line-height: 100%;
                    width: 100%;
                    background: rgba(0,0,0,0.2);
                    h2{
                        font-size: 20px;
                        color: $white;
                        text-align: center;
                    }
                }
            }
            &:hover{
                img{
                    // transform: scale(1.1);
                    // -webkit-filter: blur(2px);
                }
                .mask{
                    background: rgba(0,0,0,0.4);
                }
            }
        }
        #c1{
            left: 0;
            max-width: 328px;
            width: 34vw;
            z-index: 1;
        }
        #c2{
            max-width: 395px;
            width: 41vw;
            z-index: 2;
        }
        #c3{
            right: 0;
            max-width: 328px;
            width: 34vw;
            z-index: 1;
        }
        #c4{
            bottom: 0;
            max-width: 481.5px;
            width: 50vw;
            left: 0;
        }
        #c5{
            bottom: 0;
            max-width: 481.5px;
            width: 50vw;
            right: 0;
        }
    }
}
