// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$principal: #125688;
$secondary: #C2B49A;
$dark: #212121;
$light-dark: #272727;
$white: #fff;
$highlight: #FF884D;
$light-gray: #ededed;
$uLight-gray: #f9f9f9;
$gray: #343434;
$dark-gray: #2C2B2C;
$red: #ff4c4c;
$green: #108823;

.top-profile{
    position: relative;
    #name{
        padding: 20px 0;
        text-align: center;
        font-family: 'Vollkorn', serif;
        letter-spacing: 10px;
        font-size: 32px;
        span{
            font-family: 'Vollkorn', serif;
            letter-spacing: -1px;
            //border-bottom: 1px solid $dark;
        }
    }
    h3{
        text-align: center;
        color: $secondary;
        font-size: 17px;
        font-weight: 200;
    }
    .edit-info{
        position: absolute;
        top: 15px;
        right: 15px;
        border: 1px solid $dark;
        transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        padding: 5px;
        font-size: 15px;
        text-decoration: none;
        color: $dark;
        &:hover{
            background: $dark;
            color: $white;
        }
    }
    .pages{
        overflow: auto;
        padding-top: 2px;
        div{
            text-align: center;
            a{
                font-size: 17px;
                color: $dark;
                text-decoration: none;
                &:hover{
                    color: $secondary;
                    border-bottom: 1px solid $secondary;
                    font-weight: 400;
                }
            }
            .active{
                color: $secondary;
                border-bottom: 1px solid $secondary;
                font-weight: 400;
            }
        }
    }
}
#info-page{
    .payment{
        text-align: center;
        .title{
            position: relative;
            width: 150px;
            margin: 0 auto;
            .pow-strip{
                position: absolute;
                top: -5px;
                right: -100px;
                img{
                    width: 100px;
                    height: auto;
                }
            }
        }
        .cards-info{
            padding: 10px 0;
            #wCard{
                margin: 30px 0;
                font-size: 15px;
                padding: 10px 0;
                text-align: center;
            }
            .cards{
                margin: 5px 0;
                #card{
                    padding: 10px 0;
                    .fa{
                        margin-right: 10px;
                    }
                    img{
                        height: 15px;
                        width: auto;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    hr{
        border-width: 1px;
        width: 50vw;
        margin: 2px auto;
        border-color: #ada9a9;
    }
    .addresses{
        text-align: center;
        .address{
            margin: 0 auto;
            width: 50%;
            padding: 10px;
            margin-top: 10px;
            padding-top: 5px;
            //border: 1px solid #b0acac;
            p{
                font-size: 14px;
            }
        }
    }
}
#orders-page{
    overflow: auto;
    padding-bottom: 50px;
    .header-table{
        border-bottom: 1px solid $dark;
        div{
            text-align: center;
        }
        .bo{
            border-left: 1px solid $dark;
        }
    }
    .order{
        padding-top: 10px;
        border-bottom: 1px solid $light-gray;
        .count{
            p{
                font-size: 15px;
            }
        }
        .total{
            p{
                margin: 0;
                margin-bottom: 3px;
                text-align: right;
                font-size: 13px;
            }
            hr{
                margin: 5px 0;
            }
            #tot{
                margin-top: 7px;
                font-size: 15px;
            }
        }
        .date-sold{
            text-align: center;
            a{
                color: $dark;
            }
        }
        .order-status{
            div{
                text-align: center;
                h4{
                    color: #a19d9d;
                }
                .fa{
                    font-size: 32px;
                    margin-top: 10px;
                    color: #a19d9d;
                }
            }
            .active{
                h4{
                    color: $green;
                }
                .fa{
                    color: $green;
                }
            }
            .passed{
                position: relative;
                .fa-check{
                    position: absolute;
                    color: $green;
                //     right: 0;
                //     left: 0;
                //     top: 15px;
                //     font-size: 40px;
                }
            }
        }
    }
}
#likes-page{

}
