// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$principal: #125688;
$secondary: #C2B49A;
$dark: #212121;
$light-dark: #272727;
$white: #fff;
$highlight: #FF884D;
$light-gray: #ededed;
$uLight-gray: #f9f9f9;
$gray: #343434;
$dark-gray: #2C2B2C;
$red: #ff4c4c;
$green: #108823;

.navbar-checkout{
    margin: 15px 0 35px 0;
    padding: 0 40px;
    width: 100%;
    height: auto;
    overflow: auto;
    ul{
        counter-reset: step;
        li{
            list-style-type: none;
            float:left;
            width: 25%;
            position: relative;
            font-size: 18px;
            text-align: center;
            &:before{
                content: counter(step);
                counter-increment: step;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border: 1px solid;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
            }
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                top: 20px;
                left: -50%;
                z-index: -2;
            }
            &:hover{
                cursor: pointer;
            }
        }
        li:first-child:after{
            content: none;
        }
        li.inactive{
            color: #979797;
            &:before{
                border-color: #979797;
            }
            &:after{
                background-color: #979797;
            }
        }
        li.active{
            color: $green;
            &:before{
                border-color: $green;
            }
            &:after{
                background-color: $green;
            }
            &:last-child{
                pointer-events: none;
                &:hover{
                    cursor: default;
                }
            }
        }
    }
}

.checkout-sec{
    overflow: hidden;
    height: auto;
    .active{
        display: block;
    }
    div{
        display: none;
    }
}

.checkout-cart{
    width: 100%;
    height: auto;
    position: relative;
    .cloths-bag{
        margin: 0 auto;
        width: 55%;
        h2{
            font-size: 26px;
            border-bottom: 1px solid $dark;
            padding: 10px 0;
            margin: 0 0 26px 0;
            font-weight: 200;
        }
        .text-center{
            font-size: 16px;
            text-align: center;
            width: 80%;
            margin: 10px auto;
        }
        .order_items{
            .cloth{
                margin: 0 0 20px 0;
                img{
                    max-width: 60%;
                    margin-right: 4%;
                    vertical-align: top;
                }
                .info{
                    margin-top: 5%;
                    width: 35%;
                    display: inline-block;
                    h4{
                        font-size: 15px;
                        font-weight: 200;
                        margin: 15px 0;
                    }
                    .top{
                        .name,.size,.color{
                            display: inline-block;;
                        }
                        .name{
                            padding-right: 15%;
                        }
                        .size{
                            font-weight: 400;
                            padding-left: 15%;
                        }
                        .color{
                            margin-top: 7px;
                            padding: 10px;
                        }
                    }
                    #order_item_quantity{
                        width: 40px;
                        display: inline-block;
                        margin-left: 10px;
                    }
                    .price{
                        font-weight: 400;
                    }
                    .links{
                        a{
                            color: $dark;
                            font-weight: 200;
                            margin: 0 20px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        .delete{
                            color: $red;
                        }
                    }
                }
            }
        }
    }
    .side-menu-cart{
        float: right;
        width: 20%;
        position: absolute;
        top: 0;
        right: 0;
        h5{
            font-size: 17px;
            font-weight: 200;
            margin: 20px 0;
        }
        #subtotal{
            font-weight: 200;
            span{
                font-weight: 400;
            }
        }
        .next{
            text-align: center;
            margin: 60px 0;
            width: 70%;
            p{
                font-size: 17px;
                padding: 10px 20px;
                color: $green;
                border: 1px solid $green;
                transition: all ease 0.4s;
                -ms-transition: all ease 0.4s;
                -moz-transition: all ease 0.4s;
                -webkit-transition: all ease 0.4s;
                -o-transition: all ease 0.4s;
                text-decoration: none;
                &:hover{
                    color: $white;
                    background: $green;
                    cursor: pointer;
                }
            }
        }
    }
}

#form-card{
    position: relative;
    width: 40%;
    #customer{
        margin: 15px 0;
        #ya{
            font-size: 17px;
            line-height: 70px;
            text-align: center;
        }
        #card{
            padding: 10px 20px;
            line-height: 70px;
            height: 70px;
            .fa{
                margin-right: 10px;
                font-size: 30px;
            }
        }
        #ot{
            text-align: right;
            line-height: 70px;
            font-size: 13px;
            span{
                color: $dark;
                text-decoration: underline;
                &:hover{
                    color: $secondary;
                    cursor: pointer;
                }
            }
        }
    }
    #form-fields-card{
        margin-top: 20px;
        padding: 20px 0;
        text-align: center;
        min-width: 150px;
        max-width: 200px;
        border: 1px solid $light-gray;
        .form-group{
            position: relative;
            .fa{
                position: absolute;
                top: 28px;
                left: 17px;
            }
        }
        .input-card{
            border: none;
            background: none;
            border-bottom: 1px solid $dark;
            width: 100%;
            -webkit-border-radius: 0px;
        }
        #card_number{
            padding-left: 25px;
        }
    }
    .pow-strip{
        position: absolute;
        top: 35px;
        right: 50px;
        img{
            width: 100px;
            height: auto;
        }
    }
}

.form-co-order{
    border: 1px solid $dark;
    overflow: auto;
    width: 40%;

    #repeated{
        overflow: visible;
        height: 175px;
        .repeated-el{
            display: inline;
        }
        #ya{
            font-size: 17px;
            line-height: 70px;
            text-align: center;
        }
        #dir{
            font-size: 12px;
            line-height: 34px;
        }
        #ot{
            text-align: right;
            line-height: 102px;
            font-size: 13px;
            span{
                color: $dark;
                text-decoration: underline;
                &:hover{
                    color: $secondary;
                    cursor: pointer;
                }
            }
        }
    }
    #form-address{
        border-top: 1px solid $dark;
        h4{
            text-align: center;
            font-size: 15px;
        }
        .center{
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
        }
        .btn-submit{
            border: none;
            box-shadow: none;
            background: none;
            border: 1px solid $dark;
            background: $white;
            padding: 6px;
            -moz-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            -webkit-transition: all 0.6s ease;
            transition: all 0.6s ease;
            &:hover{
                color: $white;
                background: $dark;
            }
        }
    }
}
#button-buy{
    margin: 20px 0;
    text-align: center;
    .btn{
        background: $white;
        transition: all 0.4 ease;
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        border: 1px solid $dark;
        color: $dark;
        font-size: 20px;
        &:hover{
            background: $dark;
            color: $white;
            box-shadow-color: $light-gray;
        }
    }
}
