/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require jquery.fileupload
 *= require jquery.fileupload-ui
 *= require fancybox
 *= require 'masonry/transitions'
 *= require font-awesome
 *= require_self
 */

 @import 'normalize';
 @import "font-awesome";

 $principal: #125688;
 $secondary: #C2B49A;
 $dark: #212121;
 $light-dark: #272727;
 $white: #fff;
 $highlight: #FF884D;
 $light-gray: #ededed;
 $uLight-gray: #f9f9f9;
 $gray: #343434;
 $dark-gray: #2C2B2C;
 $red: #ff4c4c;

 *{
     font-family: 'Raleway', sans-serif;
     font-weight: 200;
     box-sizing: border-box;
     &:focus{
         outline: none;
     }
 }

 .wrapper_page{
     margin-top: 71px;
     padding: 1em 3em;
 }

.wrapper{
	width: 90%;
	margin: 0px auto;
}

body {
    background-color: $white;
    height: auto;
}

.wrapper2{
   width: 935px;
   margin: 0px auto;
}

.skinny_wrapper{
	width: 80%;
	max-width: 760px;
	margin: 0px auto;
}

.super_skinny_wrapper{
	width: 570px;
	margin: 0px auto;
}

.wrapper_padding{
	padding: 4rem 0;
}

.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}

h1,h2,h3,h4,h5,h6,p{
    color: $dark;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 2rem;
}

h3{
	font-size: 1.75rem;
}

h4{
	font-size: 1.375rem;
}

h5{
	font-size: 1.25rem;
}

h6{
	font-size: 1rem;
}

p,li{
	font-size: 1.1rem;
	line-height: 1.75;
}

p,ul,ol{
	margin: 0 0 1.6em 0;
}

// .main-navigation{
//     width: 20vw;
//     min-width: 200px;
//     max-width: 250px;
//     height: 100vh;
//     position: absolute;
//     top: 0;
//     left: 0;
//     border-right: 1px solid $light-gray;
//     background: $uLight-gray;
//     #brand{
//         width: 100%;
//         img{
//             width: 19vw;
//             min-width: 198px;
//             max-width: 248px;
//         }
//     }
//     .tipos{
//         //padding: 5%;
//         margin: 0 auto;
//         .sec-title{
//             background: $dark-gray;
//             margin-bottom: 1em;
//             h3{
//                 color: $white;
//                 font-weight: 200;
//                 padding: 0.5em;
//             }
//         }
//         .enlaces{
//             padding: 0 10px;
//             h4{
//                 margin: 1.2em 0;
//                 a{
//                     color: $dark;
//                 }
//             }
//         }
//     }
// }

.main-navigation{
    height: 70px;
    width: 100vw;
    background: $white;
    border-bottom: 1px solid $light-gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    a{
        text-decoration: none;
    }
    #brand{
        width: 20vw;
        min-width: 215px;
        max-width: 250px;
        padding: 0 10px;
        position: relative;
        img{
            width: 20vw;
            min-width: 150px;
            max-width: 250px;
        }
        h1{
            font-family: 'Vollkorn', serif;
            letter-spacing: 16px;
            font-size: 32px;
            margin: 10px 0;
            span{
                font-family: 'Vollkorn', serif;
                letter-spacing: -1px;
                //border-bottom: 1px solid $dark;
            }
        }
        #slogan{
            position: absolute;
            top: 37px;
            left: 75px;
            p{
                font-size: 10px;
                span{
                    border-top: 1px solid $dark;
                    padding-top: 2px;
                }
            }
        }
        display: inline-block;
    }
    .marcas{
        position: relative;
        display: inline-block;
        margin: 0 2.5em;
        height: 70px;
        .sec-title{
            height: 46px;
            h3{
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -ms-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              font-size: 14px;
            }
        }
        .enlaces{
            display: none;
            position: absolute;
            min-width: 80px;
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
            top: 67px;
            //background: #F8F7F7;
            background: $uLight-gray;
            padding: 0 5px;
            h4{
                a{
                    color: $dark;
                    text-decoration: none;
                    &:hover{
                        color: $secondary;
                    }
                }
            }
        }
        &:hover{
            .sec-title{
                border-bottom: 2px solid $secondary;
            }
            .sec-title h3{
                color: $secondary;
                cursor: pointer;
            }
            .enlaces{
                display: block;
            }
        }
    }
    .categorias{
        .enlaces{
            min-width: 130px;
        }
    }
    .sale{
        display: inline-block;
        margin: 0 2.5em;
        position: relative;
        a{
            h3{
                font-size: 14px;
                color: $dark;
                &:hover{
                    color: $secondary;
                }
            }
        }
    }
    .buttons{
        display: inline-block;
        float: right;
        height: 70px;
        .button,.search-form{
            display: inline-block;
            padding: 10px;
            margin-top: 5px;
        }
        .button{
            height: 65px;
            h5{
                font-size: 14px;
                a{
                    color: $dark;
                    &:hover{
                        color: $secondary;
                    }
                }
            }
        }
        .account{

        }
        .hover{
            .content{
                display: none;
                min-width: 350px;
                min-height: 250px;
                position: absolute;
                right: 0;
                padding: 5px;
                background: $light-dark;
                color: $white;
            }
            &:hover{
                background: $light-dark;
                .content{
                    display: block;
                }
                h5{
                    color: $secondary;
                }
            }
        }
        .bag{
            position: relative;
            .content{
                top: 65px;
            }
        }
        .likes{
            .content{
                min-width: 100vw;
                top: 70px;
            }
        }
        .search-form{
            border-top: 1px solid $dark;
            border-left: 1px solid $dark;
            border-bottom: 1px solid $dark;
            background: $secondary;
            cursor: pointer;
            .fieldContainer{
                .fa-search{
                }
                .searchField{
                    display:none;
                    border: none;
                    background: transparent;
                    color: $dark;
                    &::-webkit-input-placeholder {
                        color:    $dark;
                    }
                    &:-moz-placeholder {
                       color:    $dark;
                       opacity:  1;
                    }
                    &::-moz-placeholder {
                       color:    $dark;
                       opacity:  1;
                    }
                    &:-ms-input-placeholder {
                       color:    $dark;
                    }
                }
            }
        }
    }
}

.alert{
    z-index: 300;
    position: fixed;
    top: 70px;
    left: 10%;
    width: 80%;
    ul>li{
        list-style: none;
        font-size: 1em;
    }
}

.page-name{
    text-align: center;
    padding-bottom: 3em;
    h3{
        font-size: 30px;
    }
}

.new-form{
    h1{
        text-align: center;
    }
}

.filters{
    margin: 5px 0;
    border-top: 1px solid $dark;
    border-bottom: 1px solid $dark;
    .btn-default{
        border: 0;
        border-radius: 0;
        &:hover{
            background: $secondary;
        }
    }
    .sort-by{
        float: right;
    }
}

#cloths{
    .thumbnail{
        min-width: 280px;
        width: 280px;
        border: 0;
        height: 280px;
        margin: 2px 5px 2px 2px;
        border-radius: 0;
        position: relative;
        background: $white;
        .images{
            width: 280px;
            min-width: 280px;
            height: 180px;
            position: relative;
            .image1{
                width: 280px;
                height: 180px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                img{
                    width: 280px;
                    height: 180px;
                }
            }
            .image2{
                width: 280px;
                height: 280px;
                position: absolute;
                display: none;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                img{
                    width: 280px;
                    height: 280px;
                }
            }
        }
        .caption{
            position: absolute;
            top: 190px;
            left: 0;
            right: 0;
            bottom: 0;
            height: 90px;
            width: 285px;
            .descr{
                margin: 0;
                position: absolute;
                top: 0px;
                height: 25px;
                width: 220px;
                padding: 2px;
                overflow: hidden;
                p{
                    font-size: 13px;
                }
            }
            .prices{
                position: absolute;
                bottom: 28px;
                width: 220px;
                padding: 2px;
                height: 40px;
                font-family: 'Vollkorn', serif;
                p{
                    font-size: 16px;
                }
                p#discount{
                    #nom_price{
                        text-decoration: line-through;
                        color: #878585;
                    }
                    #dis_price{
                        font-size: 20px;
                        color: $red;
                    }
                }
            }
            .buttons{
                position: absolute;
                right: 2px;
                bottom: 32px;
                height: 60px;
                line-height: 30px;
                width: 70px;
                text-align: center;
                a{
                    font-size: 20px;
                    color: $dark;
                    text-decoration: none;
                }
                #bag{
                    &:hover{
                        color: $secondary;
                    }
                }
                #like{
                    &:hover{
                        color: $red;
                    }
                }
            }
        }

        &:hover{
            background: $uLight-gray;
            .images{
                .image1{
                    display: none;
                }
                .image2{
                    display: block;
                }
            }
            .caption{
                background: $white;
                top: 90px;
            }
        }
    }
}

.footer{
    width: 100%;
    height: 320px;
    background: #212020;
    position: relative;
    .social{
        padding: 3em;
        height: 100%;
        width: 30%;
        text-align: center;
        border-right: 1px solid #000;
        float: left;
        h5{
            font-size: 15px;
            color: $white;
        }
        .button {
          width: 32px;
          height: 32px;
          line-height: 30px;
          display: block;
          position: relative;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border: 2px solid #fff;
          text-align: center;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          z-index: 10;
          color: #fff;
        }

        .button:hover {
          color: $secondary;
          border: 2px solid #000;
        }

        .button:after {
            position: absolute !important;
          content: "";
          width: 32px;
          height: 32px;
          display: block;
          position: relative;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          right: -2px;
          top: -2px;
          background-color: #fff;
          visibility: hidden;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          opacity: 0;
          -moz-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
          opacity: 1\9;
          visibility: visible\9;
          display: none\9;
          -moz-transform: scale(0.5, 0.5);
          -ms-transform: scale(0.5, 0.5);
          -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
          z-index: -1;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }

        .button:hover:after {
          visibility: visible;
          filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
          opacity: 1;
          display: block\9;
          -moz-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
        }
    }
    .links{
        width: 30%;
        padding: 3em;
        height: 100%;
        text-align: center;
        float: left;
        border-right: 1px solid #000;
        p{
            font-size: 13px;
            a{
                color: $white;
                text-decoration: none;
                &:hover{
                    color: $secondary;
                }
            }
        }
    }
    .newsletter{
        width: 40%;
        float: left;
        padding: 3em;
        h3{
            color: $white;
            margin-top: 0;
            i{
                margin-left: 0.5em;
                color: $secondary;
            }
        }
        p{
            font-size: 13px;
            color: $white;
            span{
                font-size: 16px;
                font-weight: 700;
            }
        }
        form{
            input{
                border: none;
                border-bottom: 1px solid $secondary;
                background: transparent;
                color: $white;
                width: 50%;
            }
        }
    }
    .phrase{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 70px;
        background: $light-dark;
        text-align: center;
        h4{
            line-height: 70px;
            color: $white;
            font-size: 20px;
            margin: 0;
        }
    }
}

@import 'brands';
@import 'categories';
@import 'cloths';
@import 'pages';
@import 'users';
@import 'sizes';
@import 'sales';
@import 'colors';
