<div class="page-banner sales-banner">
    <h3 class="animated swing">SALES</h3>
    <%= image_tag "sales.png" %>
</div>
<div class="banner-space"></div>
<div class="wrapper">

    <%= render 'layouts/filters' %>

    <div class="cloths">
        <%= render @cloths %>
    </div>
</div>
