<div class="sales-index">
    <div class="page-name">
        <h3>Sales</h3>
    </div>
    <% @cloths.each do |cloth| %>
        <div class="descr">
            <p><%= cloth.description %></p>
        </div>
        <div class="prices">
            <p><%= cloth.normal_price %></p>
            <p><%= cloth.discount_price %></p>
        </div>
    <% end %>
</div>
