<!-- Modal -->
<div class="modal fade" id="newsletterSgnup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">                                <div class="fs1" aria-hidden="true" data-icon="&#x51;"></div></span></button>
        <!-- <h4 class="modal-title" id="myModalLabel"></h4> -->
      </div>
      <div class="modal-body">
          <div class="signup">
              <h1>
                  NEWSLETTER
              </h1>
              <p>
                  No te pierdas tus productos favoritos y regístrate para las novedades.
              </p>
              <form class="newsletter-form">
                  <input type="text" name="query" placeholder="Email" id="newsletter-signup">
                  <input type="submit" value="Aceptar" id="submit">
              </form>
          </div>
      </div>
    </div>
  </div>
</div>
